{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <form method="post">
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" id="submit" value="submit">
    </form>
    
    {% if greet %}
    {{ greet.get_id }} was added
    {% endif %}
    
    <h2>Greetings</h2>
    <table>
    {% for g in greetings %}
        <tr>
            <td>{{ g.date|timesince }} </td>
            <td>{{ g.author }} </td>
            <td>{{ g.content }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}