*.gem
*.swp
*.pyc
*#*
build
dist
setuptools-*
.svn/*
.DS_Store
*.so
nohup.out
*.orig
*.rej
*~
*.o
*.pyc
*.pyo
tests/*.err
*.swp
store/*
*.DS_Store
*.beam
*.log
couchdbkit.egg-info
dist/
doc/_build/
distribute-*
